In [3]:
import numpy as np
import pandas as pd

In [5]:
data=pd.DataFrame({'Price_USA':[80,50,140,25,90],'Price_INR':[5000,7000,12000,3000,50000]})

In [6]:
data

   Price_USA  Price_INR
0         80       5000
1         50       7000
2        140      12000
3         25       3000
4         90      50000

In [9]:
data['Price_USA'].min()

25

In [10]:
data['Price_USA'].max()

140

In [12]:
(data['Price_USA']-data['Price_USA'].min())/(data['Price_USA'].max()-data['Price_USA'].min())

0    0.478261
1    0.217391
2    1.000000
3    0.000000
4    0.565217
Name: Price_USA, dtype: float64

In [13]:
data['Price_USA'].mean()

77.0

In [14]:
data['Price_USA'].std()

43.53159771935783

In [15]:
(data['Price_USA']-data['Price_USA'].mean())/(data['Price_USA'].std())

0    0.068915
1   -0.620239
2    1.447225
3   -1.194535
4    0.298634
Name: Price_USA, dtype: float64

In [17]:
from sklearn.preprocessing import MinMaxScaler,StandardScaler
min_max = MinMaxScaler()
sc=StandardScaler()

In [18]:
min_max.fit_transform(data[['Price_USA']])

array([[0.47826087],
       [0.2173913 ],
       [1.        ],
       [0.        ],
       [0.56521739]])

In [19]:
sc.fit_transform(data[['Price_USA']])

array([[ 0.07704982],
       [-0.69344842],
       [ 1.61804632],
       [-1.33553029],
       [ 0.33388257]])